h1{
	font-family: Crimson-text;
	color:  white;
	text-align: center;
}

.header{
	color: white;
}



.bg-light{


      background-image:
    linear-gradient(
      to right, 
      red, #f06d06,
      blue
    );
}

#navbarTogglerDemo01{
	margin: 10px;
	border: none;
}

#navbarTogglerDemo01 li{
	margin: 10px;
	
}


body{
  display: inline; 
  background-color: black;
}

.w-100{
	width: 100% !important;
}

.bg-light{
	background-color: black !important;
}

.card-deck{
	margin: 50px;
}

p.card-text{
	color: green;
}

.nav-item #ded{
	border: none;
}
.navbar-light .navbar-brand{
   color: white !important;
   font-family: Crimson Text;
}

.navbar-light .navbar-nav .nav-link {
	color: white !important;
}

h5.card-title{
	color: white;
	font-family: Crimson Text;

}

.card-body{
	background-color: black;
}


.card-body:hover{
	background-color: #191919;
	cursor: pointer;
}

.carousel-indicators li {
	width: 3px;
	background-color: lime;
	padding: 6px;
	border: 5px;
	border-radius: 30px;
}

.w-100{
   width: 100% !important;
}

  h2{
  	color: green;
  }

footer{
	background-color: #191919;
	padding: 50px;
	border: 1px solid white;
	border-radius: 4px;
}



ul {
  margin-bottom: 20px;
  margin: 4px;
}

li {
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 6px;

}

li .nav-link{
    border: none;
}

img{
	width: 10%;
}



